<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<meta charset="UTF-8"></meta>

<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="col-md-12 column" align="center">
		<label>SISTEMA DE IMPLEMENTACIÓN DE NUEVAS TI</label>
	</div>

	<div class="col-md-12 column" align="center">
		<img th:src="@{/imagenes/implementacion.jpg}" width="800" height="500"
			alt="logo" align="middle"></img>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>
