<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<meta charset="UTF-8"></meta>

<body>

	<header th:replace="layout/layout :: header"></header>
	<div class="container">
		<div class="card bg-light">
			<div class="card-header text-black bg-blue">Registro de
				Informes</div>
			<form th:action="@{/informes/guardar}" th:object="${informe}"
				method="post" enctype="multipart/form-data">
				<div class="form-group row">
					<label for="idInforme" class="col-sm-2 col-form-label">Id</label>
					<div class="col-sm-6">
						<input type="text" th:field="*{idInforme}" class="form-control"
							th:errorclass="'form-control alert-danger'" /> <small
							class="form-text text-danger"
							th:if="${#fields.hasErrors('idInforme')}"
							th:errors="*{idInforme}"></small>
					</div>
				</div>

				<div class="form-group row">
					<label for="proyecto" class=" col-sm-2 col-form-label">Proyecto</label>
					<div class="col-sm-6">
						<select class="form-control" th:field="*{proyecto.idProyecto}">
							<option th:each="p: ${listaProyectos}" th:value="${p.idProyecto}"
								th:text="${p.nombreProyecto}"
								th:selected="(${p.idProyecto} == *{proyecto.idProyecto})"></option>
						</select>
					</div>
				</div>

				<div class="form-group row">
					<label for="descripcion" class="col-sm-2 col-form-label">Descripción</label>
					<div class="col-sm-6">
						<input type="text" th:field="*{descripcionInforme}"
							class="form-control" th:errorclass="'form-control alert-danger'" />
						<small class="form-text text-danger"
							th:if="${#fields.hasErrors('descripcionInforme')}"
							th:errors="*{descripcionInforme}"></small>
					</div>
				</div>

				<div class="form-group row">
					<label for="fecha" class="col-sm-2 col-form-label">Fecha</label>
					<div class="col-sm-6">
						<input type="date" th:field="*{fechaInforme}" class="form-control"
							th:errorclass="'form-control alert-danger'" /> <small
							class="form-text text-danger"
							th:if="${#fields.hasErrors('fechaInforme')}"
							th:errors="*{fechaInforme}"></small>
					</div>
				</div>

				<div class="form-group row">
					<label for="estado" class=" col-sm-2 col-form-label">Estado</label>
					<div class="col-sm-6">
						<select class="form-control" th:field="*{estado.idEstado}">
							<option th:each="e: ${listaEstados}" th:value="${e.idEstado}"
								th:text="${e.descripcionEstado}"
								th:selected="(${e.idEstado} == *{estado.idEstado})"></option>
						</select>
					</div>
				</div>

				<div class="form-group row">
					<label for="tinforme" class=" col-sm-2 col-form-label">Tipo de informe</label>
					<div class="col-sm-6">
						<select class="form-control" th:field="*{tinforme.idTinforme}">
							<option th:each="t: ${listaTinformes}" th:value="${t.idTinforme}"
								th:text="${t.nombreTinforme}"
								th:selected="(${t.idTinforme} == *{tinforme.idTinforme})"></option>
						</select>
					</div>
				</div>

				<div class="form-group row">
					<label for="file" class="col-sm-2 col-form-label ">Foto del
						informe:</label>
					<div class="col-sm-6">
						<input type="file" name="file" class="form-control"
							th:text="${informe.fotoInforme}" required="required" />
					</div>
				</div>

				<div class="form-group row">
					<div class="col-sm-6" align="center">
						<input type="submit" value="Registrar" class="btn btn-primary" />
						<a href="/informes/listar" class="btn btn-danger">Cancelar</a>
					</div>
				</div>
				<p th:text="${mensaje}"></p>
			</form>
		</div>
	</div>


	<footer th:replace="layout/layout :: footer"></footer>


</body>
</html>