<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<meta charset="UTF-8"></meta>

<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container">
		<div align="right">
			<a style="border-bottom-color: green" th:href="@{/informes/nuevo}"
				id="add-row" type="button" class="btn btn-primary btn-md left-block">
				<span class="glyphicon glyphicon-plus"></span> Nuevo
			</a>
		</div>
		<div>
			<form th:action="@{/informes/buscar}" method="post"
				th:object="${informe}">
				<div class="form-group">

					<label for="p">Buscar:</label> <input type="text"
						class="form-control" th:field="*{descripcionInforme}" id="p"></input>
					<div align="right">
						<button type="submit" class="btn btn-success">Aceptar</button>
						<a href="/informes/listar" class="btn btn-danger">Cancelar</a>
					</div>
				</div>
			</form>
		</div>

		<div class="card">
			<div class="card-header text-white bg-dark mb-3">Reporte de
				Informes</div>
			<div class="card-body">

				<div class="table-responsive">
					<table class="table table-white">
						<thead class="bg-dark mb-3 text-white">
							<tr>
								<th>Id</th>
								<th>Proyecto</th>
								<th>Descripción</th>
								<th>Fecha</th>
								<th>Estado</th>
								<th>Tipo de informe</th>
								<th align="center">Operación</th>
								<th align="center">Operación</th>
							</tr>
						</thead>
						<tbody id="informe-list">
							<tr th:each="informe:${listaInformes}">
								<td><a class="btn btn-primary btn-xs"
									th:href="@{/informes/verinf/} + ${informe.idInforme}"
									th:text="${informe.idInforme}"></a></td>
								<td th:text="${informe.proyecto.nombreProyecto}"></td>
								<td th:text="${informe.descripcionInforme}"></td>
								<td th:text="${#dates.format(informe.fechaInforme,'dd/MM/yyyy')}"></td>
								<td th:text="${informe.estado.descripcionEstado}"></td>
								<td th:text="${informe.tinforme.nombreTinforme}"></td>
								<td align="center"><a
									th:href="@{/informes/eliminar?id=}+${informe.idInforme}">
										<span class="glyphicon glyphicon-trash"></span>
								</a></td>
								<td align="center"><a
									th:href="@{'/informes/modificar/' + ${informe.idInforme}}"><span
										class="glyphicon glyphicon-pencil"></span></a></td>
							</tr>
						</tbody>
					</table>
					<p th:text="${mensaje}"></p>
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>
