<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<meta charset="UTF-8"></meta>

<body>

	<header th:replace="layout/layout :: header"></header>
	<div class="container">
		<div class="card bg-light">
			<div class="card-header text-black bg-blue">Registro de Estados</div>
			<form th:action="@{/estados/guardar}" th:object="${estado}"
				method="post" enctype="multipart/form-data">
				<div class="form-group row">
					<label for="idEstado" class="col-sm-2 col-form-label">Id</label>
					<div class="col-sm-6">
						<input type="text" th:field="*{idEstado}" class="form-control" />
					</div>
				</div>

				<div class="form-group row">
					<label for="descripcionEstado" class="col-sm-2 col-form-label">Estado</label>
					<div class="col-sm-6">
						<input type="text" th:field="*{descripcionEstado}"
							class="form-control" th:errorclass="'form-control alert-info'" />
						<small th:if="${#fields.hasErrors('descripcionEstado')}"
							th:errors="*{descripcionEstado}"></small>
					</div>
				</div>

				<div class="form-group row">
					<div class="col-sm-6" align="center">
						<input type="submit" value="Registrar" class="btn btn-primary" />

						<a href="/estados/listar" class="btn btn-danger">Cancelar</a>
					</div>
				</div>

			</form>
		</div>
	</div>

	<div th:if="${mensaje}" class="alert alert-info">
		<p th:text="${mensaje}"></p>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>