<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<meta charset="UTF-8"></meta>

<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container">
		<div align="right">
			<a th:href="@{/tproductos/nuevo}" id="add-row" type="button"
				class="btn btn-primary">Nuevo</a>
		</div>
		<div>
			<form th:action="@{/tproductos/buscar}" method="post"
				th:object="${tproducto}">
				<div class="form-group">

					<label for="tproducto">Buscar:</label> <input type="text"
						class="form-control" th:field="*{nombreTproducto}" id="tproducto"></input>
					<div align="right">
						<button type="submit" class="btn btn-success">Aceptar</button>
						<a href="/tproductos/listar" class="btn btn-danger">Cancelar</a>
					</div>
				</div>

			</form>

		</div>

		<div class="card">
			<div class="card-header text-white bg-dark mb-3">Reporte de
				Tproducto</div>
			<div class="card-body">

				<div class="table-responsive">
					<table class="table table-white">
						<thead class="bg-dark mb-3 text-white">
							<tr>
								<th>Id</th>
								<th>Nombre de Tproducto</th>
								<th>Descripcion de Tproducto</th>
								<th align="center">Operación</th>
								<th align="center">Operación</th>
							</tr>
						</thead>
						<tbody id="tproducto-list">
							<tr th:each="tproducto:${listaTproductos}">
								<td th:text="${tproducto.idTproducto}"></td>
								<td th:text="${tproducto.nombreTproducto}"></td>
								<td th:text="${tproducto.descripcionTproducto}"></td>
								<td align="center"><a
									th:href="@{/tproductos/eliminar?id=}+${tproducto.idTproducto}">
										<span class="glyphicon glyphicon-trash"></span>
								</a></td>
								<td align="center"><a
									th:href="@{'/tproductos/detalle/' + ${tproducto.idTproducto}}"><span
										class="glyphicon glyphicon-pencil"></span></a></td>
							</tr>
						</tbody>
					</table>
					<p th:text="${mensaje}"></p>
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>
