<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<meta charset="UTF-8"></meta>

<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container">
		<div align="right">
			<a th:href="@{/roles/nuevo}" id="add-row" type="button"
				class="btn btn-primary">Nuevo</a>
		</div>
		<div>
			<form th:action="@{/roles/buscar}" method="post" th:object="${rol}">
				<div class="form-group">

					<label for="rol">Buscar:</label> <input type="text"
						class="form-control" th:field="*{nombreRol}" id="rol"></input>
					<div align="right">
						<button type="submit" class="btn btn-success">Aceptar</button>
						<a href="/roles/listar" class="btn btn-danger">Cancelar</a>
					</div>
				</div>

			</form>

		</div>

		<div class="card">
			<div class="card-header text-white bg-dark mb-3">Reporte de
				Roles</div>
			<div class="card-body">

				<div class="table-responsive">
					<table class="table table-white">
						<thead class="bg-dark mb-3 text-white">
							<tr>
								<th>Id</th>
								<th>Nombre del rol</th>
								<th>Descripcion del rol</th>
								<th align="center">Operación</th>
								<th align="center">Operación</th>
							</tr>
						</thead>
						<tbody id="rol-list">
							<tr th:each="rol:${listaRoles}">
								<td th:text="${rol.idRol}"></td>
								<td th:text="${rol.nombreRol}"></td>
								<td th:text="${rol.descripcionRol}"></td>
								<td align="center"><a
									th:href="@{/roles/eliminar?id=}+${rol.idRol}"> <span
										class="glyphicon glyphicon-trash"></span>
								</a></td>
								<td align="center"><a
									th:href="@{'/roles/detalle/' + ${rol.idRol}}"><span
										class="glyphicon glyphicon-pencil"></span></a></td>
							</tr>
						</tbody>
					</table>
					<div th:if="${mensaje}" class="alert alert-info">
						<p th:text="${mensaje}"></p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>