<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<meta charset="UTF-8"></meta>

<body>

	<header th:replace="layout/layout :: header"></header>
	<div class="container">
		<div class="card bg-light">
			<div class="card-header text-black bg-blue">Registro de
				Productos</div>
			<form th:action="@{/productos/guardar}" th:object="${producto}"
				method="post" enctype="multipart/form-data">
				<div class="form-group row">
					<label for="idProducto" class="col-sm-2 col-form-label">Id</label>
					<div class="col-sm-6">
						<input type="text" th:field="*{idProducto}" class="form-control" />
					</div>
				</div>

				<div class="form-group row">
					<label for="nombreProducto" class="col-sm-2 col-form-label">Producto</label>
					<div class="col-sm-6">
						<input type="text" th:field="*{nombreProducto}"
							class="form-control" th:errorclass="'form-control alert-info'" />
						<small th:if="${#fields.hasErrors('nombreProducto')}"
							th:errors="*{nombreProducto}"></small>
					</div>
				</div>

				<div class="form-group row">
					<label for="marcaProducto" class="col-sm-2 col-form-label">Marca
						de Producto</label>
					<div class="col-sm-6">
						<input type="text" th:field="*{marcaProducto}"
							class="form-control" th:errorclass="'form-control alert-info'" />
						<small th:if="${#fields.hasErrors('marcaProducto')}"
							th:errors="*{marcaProducto}"></small>
					</div>
				</div>

				<div class="form-group row">
					<label for="tproducto" class=" col-sm-2 col-form-label">Tipo
						de producto</label>
					<div class="col-sm-6">
						<select class="form-control" th:field="*{tproducto.idTproducto}">
							<option th:each="p: ${listaTproductos}"
								th:value="${p.idTproducto}" th:text="${p.nombreTproducto}"
								th:selected="(${p.idTproducto} == *{tproducto.idTproducto})"></option>
						</select>
					</div>
				</div>

				<div class="form-group row">
					<div class="col-sm-6" align="center">
						<input type="submit" value="Registrar" class="btn btn-primary" />

						<a href="/productos/listar" class="btn btn-danger">Cancelar</a>
					</div>
				</div>
				<p th:text="${mensaje}" class="form-text text-danger"></p>

			</form>
		</div>
	</div>

	<p th:text="${mensaje}"></p>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>